<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.beth.smartthings_msband"
android:versionCode="1"
android:versionName="1.0" >

<uses-sdk
    android:minSdkVersion="17"
    android:targetSdkVersion="19" />

<uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

<application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
        android:name=".TileInstaller"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <receiver
        android:name="com.beth.smartthings_msband.TileEventReceiver"
        android:label="@string/app_name"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.microsoft.band.action.ACTION_TILE_OPENED"/>
            <action android:name="com.microsoft.band.action.ACTION_TILE_BUTTON_PRESSED"/>
            <action android:name="com.microsoft.band.action.ACTION_TILE_CLOSED"/>
        </intent-filter>
    </receiver>
</application>

</manifest>
